@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #666E7D;
  --card: #ffffff;
  --card-foreground: #272727;
  --popover: #ffffff;
  --popover-foreground: #272727;
  --primary: #168BD9;
  --primary-foreground: #fbfbfb;
  --secondary: #E5FAFF;
  --secondary-foreground: #555555;
  --muted: #52525B;
  --muted-foreground: #C9C9C9;
  --accent: #f7f7f7;
  --input-foreground : '#090914';
  --accent-foreground: #555555;
  --destructive: #e06666;
  --border: #94A3B8;
  --input: #E4E4E7;
  --ring: #b5b5b5;
  --chart-1: #d27d26;
  --chart-2: #75a9f7;
  --chart-3: #7484f3;
  --chart-4: #f4bb4c;
  --chart-5: #f0b950;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #272727;
  --sidebar-primary: #555555;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #555555;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
  --dark-gray : #7F7F7F;
}

.dark {
  --background: #272727;
  --foreground: #fbfbfb;
  --card: #555555;
  --card-foreground: #fbfbfb;
  --popover: #555555;
  --popover-foreground: #fbfbfb;
  --primary: #2563EB;
  --primary-foreground: #555555;
  --secondary: #454545;
  --secondary-foreground: #fbfbfb;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #fbfbfb;
  --destructive: #f08080;
  --border: rgba(255, 255, 255, 0.10);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8e8e8e;
  --chart-1: #7c89e0;
  --chart-2: #b3e777;
  --chart-3: #f0b950;
  --chart-4: #6e83ed;
  --chart-5: #a7b02c;
  --sidebar: #555555;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #7c89e0;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: rgba(255, 255, 255, 0.10);
  --sidebar-ring: #8e8e8e;
  --dark-gray : #7F7F7F;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-popins { 
  font-family: "Poppins", sans-serif;
}

a { 
  cursor: pointer;
}

.text-dark-gray { 
  @apply text-[#7F7F7F]
}

th > button{
  @apply !font-bold
} 
